<div {{ attributes.addClass(
  'cb',
  'cb-' ~ component,
  classes,
  'block',
  'block-layout_builder',
) }}>
  {{ title_suffix }}
  {% block cb_body %}
    <div class="cb__inner cb__inner--{{ component }}">
      {% block cb_content %}
        {% if content %}
          <div class="cb__content cb__content--{{ component }}">
            {% if link.url %}
            {# @todo: rockesthip should pass link correct #}
              <a
                href="{{ link.url }}"
                title="{{ link.title }}"
                target="{{ link.target }}">
              {% endif %}
              {{ media }}
              {{ content }}
            {% if link %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endblock cb_content %}
    </div>
  {% endblock cb_body %}
</div>
